*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:url(image/bgimg.jpg);
	height:100vh;
	background-size: cover;
	background-position: 25% 75%;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display:inline-block;
}
ul li a{
		text-decoration: none;
		color: white;
		padding:5px 20px;
		border: 1px solid :transparent;
		transition: 0.6s ease;
	}
ul li a:hover{
	background-color:yellow;
	color: black;
}

ul li.active a{
	background-color: black;top 
	color: white;
}

.logo img{
	float: top left;
	width:240px;
	height: 100px; 
}
.main{
	max-width: 1500px;
	margin:auto;
}
.title h1{
	color: ;
	font-size:50px;
}
.outer
{
	max-width: 240px;
	background:#2e2e2e;
	padding:5px;
	border-radius:4px;
}

.search-field{
	height: 50px;
	padding:10px;
	border:none;
	border-radius: 25px;
	outline:none;
}
body{
	margin: 0;
	padding: 0;
}
.header{
	height:100vh;
	justify-content: left;
	display:flex;
	align-items: left;
	font-family: sans-serif;
}
h1{
	color:#fff;
	text-align:center;
	font-size: 40px;
	letter-spacing: 10px;
}
.search-field{
	height:20px;
	padding:10px;
}
span{

	color: #f44336;
}
.Title{
	width:300px;
}
.Artist{
	width:150;
}
.search-btn{
	height:40px;
	width:100px;
	background:purple;
	border-radius: 8px;
	color:black;
}
.search-btn:hover{
	background:#f44336;
	cursor: pointer;
	border-radius: 5px;	
}
.form-box{
	background:rgba(200,200,200,0.1);
	padding: 30px 50px;
	border-radius: 10px;
}
.artist button:after{
	content="";
	display:block;
}
ul li ul li{
	display:none;
}
ul li: hover ul li{
	display:none;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 15px;
  border-radius: 5px;
  line-height: 20px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 10px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949;
}
textarea {
  height: 80px;
  line-height: 80%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:20px;
  padding-top:8px;
  padding-bottom:6px;
  transition: all 0.3s;
  margin-top:-3px;
  font-weight:500;
}
[type="submit"]:hover { background:#CC4949; }
ul li ul li:a{

}